:root {
  --page-bg-color: #483240;
  --text-color: #fff9ee;
  --accent-color: #ff7d1c;
  --shadow-color: #ffc396;
  --muted-color: #666359;
  --text-color-on-over: #fff9ee;
  --menu-btn-color: rgb(0, 0, 0, 0.4);
}