.header {
  block-size: 11vh;
  background-color: var(--page-bg-color);
  color: var(--text-color);
  padding: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerMenu {
  list-style: none;
  display: flex;
  gap: 2vw;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  font-size: clamp(0.875rem, 0.602rem + 1.165vw, 2rem);
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  color: var(--accent-color);
  text-shadow: 1px 2px 0 var(--shadow-color);
  transition: 0.3s;
}

.titleMenu {
  cursor: default;
  font-size: clamp(1rem, 0.15rem + 3.625vw, 4.5rem);
  text-align: center;
  font-family: 'Caveat';
  text-shadow: 2px 1px 0 var(--shadow-color);
  font-weight: bold;
  transition: 0.3s;
}

.titleMenu:hover {
  color: var(--accent-color);
  text-shadow: 2px 2px 5px var(--shadow-color);
  transition: 0.3s;
}

.menu-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (width > 1440px) {
  .menu-logo {
    width: 80px;
    height: 80px;
  }
  
  .menu-avatar {
    width: 80px;
    height: 80px;
  }

  .menu-item:hover {
    text-shadow: 2px 2px 0 var(--shadow-color);
  }
  
  .titleMenu {
    text-shadow: 3px 2px 0 var(--shadow-color);
  }
  
  .titleMenu:hover {
    text-shadow: 3px 2px 5px var(--shadow-color);
  }
}

@media (width < 768px) {
  .menu-logo {
    width: 40px;
    height: 40px;
  }
  
  .menu-avatar {
    width: 40px;
    height: 40px;
  }

  .header div {
    gap: 0;
    margin-inline: 4px;
  }

  .headerMenu {
    gap: 4px;
  }

  .menu-item:hover {
    text-shadow: 1px 1px 0 var(--shadow-color);
  }
  
  .titleMenu {
    text-shadow: 2px 1px 0 var(--shadow-color);
  }
  
  .titleMenu:hover {
    text-shadow: 2px 1px 3px var(--shadow-color);
  }
}